html,
body {
  margin: 0;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
  border: 1px solid white;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0px 24px;
  align-items: center;
  font-size: 20px;
}

#timeout {
  font-size: 2rem;
  color: #f5222d;
  text-shadow: 0 0 1px white;
  vertical-align: sub;
}

#result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 86px;
  font-weight: bold;
  color: #f5222d;
}

#ballCount {
  font-size: 2rem;
  color: #52c41a;
  text-shadow: 0 0 1px white;
  vertical-align: sub;
}

#mainHP {
  font-size: 2rem;
  color: #f5222d;
  text-shadow: 0 0 1px white;
  vertical-align: sub;
}

#avatar {
  visibility: hidden;
}

.footer {
  position: absolute;
  text-align: right;
  font-size: 26px;
  bottom: 0;
  right: 10px;
  font-family: fantasy;
  color: white;
}
